<!-- <div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h2>{{photograph.title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <img class="photographyLarge" src="{{photograph.image}}" alt="">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <a ui-sref="photographyDetails({photoID: backID})"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <a ui-sref="photographyDetails({photoID: forwardID})"><i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i></a>
  </div>
</div> -->
