<div class="row">
  <p class="projectInfo tinkerHeading">
In addition to the full stack native and web applications I've made, I also have an assortment of side projects. I made these in the interest of fun, learning, and creating solutions to small problems that crop up in my daily life.
  </p>
</div>
<div ng-repeat="project in tinkerProjects">
  <div class="row">
    <div class="col-md-6">
      <span><h2 class="projectTitle">{{project.title}}</h2><h4>{{project.category}}</h4></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{project.image}}" class="project-images" alt="">
    </div>
    <div class="col-md-6 col-md-offset-1">
      <p class="projectInfo">{{project.description}}</p>
      <br>
      <div class="row">
        <div class="col-md-offset-2 col-md-3">
          <a href="{{project.githubLink}}"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Github</a>
        </div>
        <!-- <div class="col-md-3">
          <a href="#"><i class="fa fa-hand-spock-o fa-2x" aria-hidden="true"></i>More Info</a>
        </div> -->
      </div>
    </div>

  </div>
  <br>
</div>
