@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  padding-bottom: 50px;
  width: 100vw;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.navbar-fixed-left {
  position: fixed;
  left: 0;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: -50px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  font-weight: bold;
  padding-left: .25em;
  padding-right: .25em;
}

.links {
  padding-top: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.4em;
  padding-left: 1.5em;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: rgb(17, 41, 62);
}

p {
  font-family: 'PT Sans', sans-serif;
}

span {
  font-size: 2em;
}

.img-circle {
    border-radius: 50%;
    width: 40vw;
  }

.about-content {
  padding-top: 8em;
}

#selfBlurb {
  font-size: 1.8em;
  padding-top: 1em;
}

.project-images {
  width: 20vw;
  /*border-radius: 50%;*/
}

.projectInfo {
  font-size: 1.5em;
}

.newEntry {
  padding-top: 5em;
}

.projectTitle {
  font-family: 'Raleway', sans-serif;
}

.tinkerHeading {
  padding-top: 1.5em;
}

.contactInfo {
  font-size: 2rem;
}

.githubLink {
  padding-top: 15em;
}

.photography {
  width: 20vw;
  padding-top: 3em;
}
