<!-- Curiocity -->
<div class="row newEntry">
  <div class="col-md-offset-1 col-md-3">
    <h2>Curiocity</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <img src="app/images/CuriocityMockUp.png" class="curiocity project-images" alt="Curiocity Image">
  </div>
  <div class="col-md-6">
    <p class="projectInfo">
      A lightweight native app to fulfill your curiosities. Curiocity lets you explore the home buying market around you. Curiocity can search for home information using your phones GPS to get the home address of the closest house to you, returning clean, concise results.
    </p>
    <br>
    <p class="projectInfo">Built with Ionic, Cordova, AngularJS, Express, Heroku, Android and iOS</p>
    <br>
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Github</a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i> Video</a>
      </div>
    </div>
  </div>
</div>

<!-- The Hive -->
<div class="row newEntry">
  <div class="col-md-offset-1 col-md-3">
    <h2>The Hive</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <img src="app/images/TheHiveMockUp.png" class="theHive project-images" alt="The Hive Image">
  </div>
  <div class="col-md-6">
    <p class="projectInfo">
      The Hive is an interactive, customizable social network for bee enthusiasts. Users are able to create a personal profile and upload observations of bees they've spotted and superimpose their location onto a customized map (based on the Google maps API).
    </p>
    <br>
    <p class="projectInfo">Built with JavaScript, jQuery, Express, SASS, Knex.js, PostgreSQL, Google OAuth, Node.js, HTML5</p>
    <br>
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Github</a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-link fa-2x" aria-hidden="true"></i> Deployed</a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i> Video</a>
      </div>
    </div>
  </div>
</div>

<!-- NASA Rover -->
<div class="row newEntry">
  <div class="col-md-offset-1 col-md-3">
    <h2>NASA Rover Imagery</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <img src="app/images/NASARoverMockUp.png" class="NASARover project-images" alt="NASA Rover Image">
  </div>
  <div class="col-md-6">
    <p class="projectInfo">
      An imagery site that uses the NASA API to search for images from the Mars rover's (Curiosity, Spirit, and Opportunity). Has the functionality to narrow the search to specific rovers, camera angle and date, as well as cycle through all images for a given camera on a given day.
    </p>
    <br>
    <p class="projectInfo">Built with JavaScript, jQuery, NASA API, HTML5</p>
    <br>
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Github</a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-link fa-2x" aria-hidden="true"></i> Deployed</a>
      </div>
      <div class="col-md-2">
        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i> Video</a>
      </div>
    </div>
  </div>
</div>
